doctype html
html
	head
		title UCS Site
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
		link(href='/main.css',rel='stylesheet')
		script#songs-template(type='text-html')
			include ./_imports/songs.jade
		script#404-template(type='text-html')
			include ./_imports/404.jade
		script#song_id-template(type='text-html')
			include ./_imports/song_id.jade
		script#login-template(type='text-html')
			include ./_imports/login.jade
	body(role='document')
		.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button',data-toggle='collapse',data-target='#ucs-collapse-menu')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') UCS Site
				#ucs-collapse-menu.collapse.navbar-collapse
					ul.nav.navbar-nav
						li: a(href='/') Home
						li: a(href='/songs') Songs
						li: a(href='/ucs') UCS
					ul.nav.navbar-nav.navbar-right
						li: a.btn(href='/login') Login
		#content
		script(src='/app.js')
