.jumbotron
	.container
		h2 Universal Custom Steps
		small A UCS Sharing site
.container
	.row
		.col-sm-6.col-lg-4
			.panel.panel-default
				.panel-heading.text-center
					h2 Latest
					p.text-muted: a More&hellip;
				.panel-body
					.media
						.media-left.media-middle
				//-ul.list-group.panel-body
					li.list-group-item
						h4.list-group-item-heading.
							Final Audition 3 UF
						.list-group-item-text.
							Shujito
