.container
	.size-320.center.text-center
		h2.center.middle Want to log out?
		p.text-muted.
			You will be able to log in back again.
			Your charts are safe here.
			Here's more text.
			Jackdaws love my Big Sphinx of Quartz.
		p
			button.btn.btn-danger#btn-logout-yes Yes
			| 
			button.btn.btn-default#btn-logout-no No
