.container
	.size-320.center.text-center
		h2.center.middle Want to log out?
		hr
		p
			div.text-muted.
				The current session will be invalidated.
			div.text-muted.
				Worry not, for you'll be able to login back again and your charts are safe here.
		hr
		p
			button#logout-yes.btn.btn-danger.btn-lg(data-loading-text='Log me out').
				Log me out
