//-.jumbotron
	.container
		h2 My profile page.
		small Make adjustments here
.container
	.row
		.col-xs-12
			form#form-user-data.form-horizontal.size-480.center
				.form-group
					.col-sm-8.col-sm-offset-4
						h2 Account info
				.form-group
					label.col-sm-4.control-label Profile pic
					.col-sm-8
						img.img-rounded(width='144', height='144')
				hr
				.form-group
					label.col-sm-4.control-label Display Name
					.col-sm-8
						input.form-control(maxlength='100',type='text',name='display_name')
				.form-group
					label.col-sm-4.control-label Email
					.col-sm-8
						input.form-control(maxlength='100',type='email',name='email')
				.form-group
					label.col-sm-4.control-label Change password
					.col-sm-8
						input.form-control(maxlength='100',type='password',name='password',placeholder='unchanged')
				.form-group
					label.col-sm-4.control-label Change password
					.col-sm-8
						input.form-control(maxlength='100',type='confirm',name='confirm',placeholder='unchanged')
				.form-group
					.col-sm-8.col-sm-offset-4
						button#btn-save.btn.btn-primary(data-loading-text='Saving').
							Save changes
