.container
	.row
		.col-xs-12
			form#form-login.panel.panel-default.size-480.center
				.panel-heading
					h2 Register new Account
				.panel-body
					.form-group
						input.form-control(maxlength='100',type='text',name='username',placeholder='username')
					.form-group
						input.form-control(maxlength='100',type='email',name='email',placeholder='email')
					.form-group
						input.form-control(maxlength='100',type='password',name='password',placeholder='password')
					.form-group
						input.form-control(maxlength='100',type='password',name='confirm',placeholder='confirm password')
					button#btn-register.btn.btn-default(data-loading-text='Logging in').
						Log in
				.panel-footer
					p Have an account?&nbsp;
						a(href='/login') Login instead!
