#group-container.container
	#group-template.row
		.col-md-12
			.panel.panel-default
				.panel-headign.text-center
					h2#group-title Title
				.panel-body.text-center
					p#group-subtitle.text-muted Subtitle
	#song-template.row
		.col-sm-6.col-md-4.col-lg-3
			.list-group
				a#song-url.list-group-item(href='/')
					h4#song-name.list-group-item-heading Name
					p#song-artist.list-group-item-text Artist