.jumbotron
	.container
		h2 Name
		small Artist
		//-div
			a.btn.btn-primary.btn-lg(href='/') New
.container
	//-.row
		.col-md-12
			.list-group
				a.list-group-item
					span.badge 5
					| Creator
	.row
		.col-sm-6.col-md-4.col-lg-3
			.list-group
				a.list-group-item
					.row
						.col-xs-6
							| S00
						.col-xs-6
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star
							span.glyphicon.glyphicon-star-empty
							span.glyphicon.glyphicon-star-empty
					.row
						.col-xs-4
							|5&nbsp;
							span.glyphicon.glyphicon-download
						.col-xs-4
							|10&nbsp;
							span.glyphicon.glyphicon-eye-open
						.col-xs-4
							|15&nbsp;
							span.glyphicon.glyphicon-play-circle